@charset "utf-8";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container{
    height: 590px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 10px solid rgb(255, 255, 255);
    margin-top: 5%;
    position: relative;
    background-color: rgb(71, 240, 231);
    filter: drop-shadow(0px 50px 40px #292929);
}

.wrapper {
    min-height: 100vh;
    background-image: url('/images/brick.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.6em;
}

h4, ol {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.score, .lives {
    font-size: 1.5em;
    color: rgb(167, 44, 167);
}

.game-status-container{
    font-size: 1.2em ;
    color: white;
    padding-bottom: 20px;
    padding-left: 2%;
    display: flex;
    margin-right: 30px;
    padding-top: 10px;
}

.brick{
    position: absolute;
    top:0;
    left:0;
    width: 91px;
    height: 40px;
    padding: 1px;
    color: white;
    border: 1px solid white;
    font-size: 1.8em;
    text-align: center;
    line-height: 40px;
}